.page-scroll{
	font-size:20px;
}
.col{
	box-sizing:border-box;
	display:block;
	float:left;
	height:567px;
	line-height:20px;
	min-height:1px;
	padding-left:15px;
	padding-right:15px;
	position:relative;
	text-align:center;
	text-size-adjust:100%;
	width:1170px;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.row1{
box-sizing:border-box;
color:rgb(255, 255, 255);
display:block;
font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:14px;
height:400px;
line-height:20px;
margin-left:-15px;
margin-right:-15px;
text-align:center;
text-size-adjust:100%;
}
header{
	background:#ae9fc0;
}
.navbar-custom{
	background:#d5abc3;
}
button[data-type]{
    position: absolute;
    top: 210px;
    width: 37px;
    height: 65px;
   	background: url(http://tong.visitkorea.or.kr/img/vk/kor/bz15/main/mv_scene_control.png) no-repeat;
   	display: block;
    padding: 0;
    border-width: 0;
    overflow: hidden;
    cursor: pointer;
    text-transform: none;
    line-height: normal;
    margin: 150px;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    font: 13.3333px Arial;
    -webkit-writing-mode: horizontal-tb;
    -webkit-appearance: button;
}
button[data-type="prev"] {
    left: 0;
    background-position: 0 0;
}
button[data-type="next"] {
    right: 0;
    background-position: 100% 0;
}